#encoding cp1251
Добро пожаловать!
Вы успешно зарегистрировались на сервисе $service_name!
    Ваши данные для входа в систему:
    Логин: $login
    Пароль: $passwd
    Прямая ссылка на сервис $service_name: $href
    Благодарим за использование сервисов $owner_name.
    Это сообщение отправлено автоматически в целях уведомления.  Ответы на него не отслеживаются и не
    обрабатываются. Пожалуйста, не отвечайте на него.
