#encoding cp1251
<html>
    <body>
    <p>Добро пожаловать!</p>
    <p>Вы успешно зарегистрировались на сервисе <a href="$href">$service_name</a>!</p>
    <p>Ваши данные для входа в систему:</p>
    <p>Логин: <span color="blue">$login</span></p>
    <p>Пароль: <span color="blue">$passwd</span></p>
    <p>Благодарим за использование сервисов <a href="$owner_href">$owner_name</a>.</p>
    <p>Это сообщение отправлено автоматически в целях уведомления.  Ответы на него не отслеживаются и не
    обрабатываются. Пожалуйста, не отвечайте на него.</p>
    </body>
</html>