#encoding cp1251
Чтобы начать процесс изменения пароля для аккаунта $service_name, нажмите на ссылку ниже:

$cphref

Если ссылка не работает, скопируйте и вставьте URL в новом окне браузера.

Если Вы получили это письмо по ошибке, скорее всего, другой пользователь
случайно указал Ваш адрес, пытаясь изменить пароль. Если Вы не отправляли
запрос, ничего не делайте и не обращайте внимания на это сообщение.
Благодарим за использование сервисов $owner_name.

Это сообщение отправлено автоматически в целях уведомления.  Ответы на него не отслеживаются и не
обрабатываются. Пожалуйста, не отвечайте на него.
