div #dvScan{
    margin-top: -10px;
    padding: 1px;
}
div #dvDocs, #dvListWares, #dvDocWares, #dvSetDate{
    height: inherit;
}
div #dvDocs{
    width: 500px;
}
div #dvListWares{
    width: 500px;
}
div #dvStatus{
    float: left;
}
div #dvButtons{
    display: inline;
    float: right;
}
input{
    text-align: center !important;
}
input :focus{
    text-align: center;
}
input.scanBarcode{
    text-align: left !important;
}


















