#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData    
    <form action="scanMain">
        <label>$_('ШК'):<input type="text" title="$_('Документ'), $_('Зона возвратов')" name="barcode" id=":scan:text"></label>
    </form>
    
    #if $varExists('$datalist') and $datalist
        <table>
            <thead>
                <tr>
                    <th>$_('Дата')</th>
                    <th>$_('Номер')</th>
                </tr>
            </thead>
            <tbody>
              #for $item in $datalist
                <tr>
                    <td>#filter DateFilter2$item.DOCDATE#end filter#</td>
                    <td style="text-align: left;"><a href="task?tid=$item.TASKID" title="$item.FROMNAME->$item.TONAME">$item.DOCNUM</a></td>
                </tr>
              #end for
            </tbody>
        </table>        
    #end if    
#end def
