#encoding cp1251
<form id="dlgattredit_form" class="full_height">
  <table class="vertical_top">
    <tr><th>Имя</th>
        <td>
            <input id="dlgattredit_id_edt" name="dlgattredit_id_edt" type="text"  size="45" value=""/>
        </td>
    </tr>
    <tr>
        <th>Значение</th>
        <td>
            <input id="dlgattredit_value_edt" name="dlgattredit_value_edt" type="text"  size="45" value=""/>
        </td>
    </tr>
  </table>
</form>

<div class="buttons footer_btns">
    <span class="right_aligned_btns">
        <button type="button" id="dlgattredit_save_btn"><img src="/ENGINE/images/actions/accept.png"/>&nbsp;OK</button>&nbsp;
        <button type="button" id="dlgattredit_cancel_btn"><img src="/ENGINE/images/actions/cancel.png"/>&nbsp;Отмена</button>
    </span>
</div>
