#encoding cp1251

<table class='flora' style='width: 100%;'>
	<tr><th width='25%'>Пользователи</th><td><select id='sel_users'></select></td></tr>
</table>
<br/>
<h4>Опции</h4>
<table class='flora' id='options_tbl' style='width: 100%;'>
	<thead>
		<tr><th>№</th><th>Тип</th><th>Объект</th><th>Название</th><th>Опция</th></tr>
	</thead>
		<tr class='cheat'><td colspan='100'>Нет данных для отображения</td></tr>
	<tbody>
	</tbody>	
	
</table>

<div class='buttons'>
	<button class='buttons cancel'><img src='/ENGINE/images/actions/cancel.png' />&nbsp;Закрыть</button>	
</div>