#encoding cp1251
<div class="full_height">
    <h3 id="dlgokcancel_title" style="display: none; font: bold 12pt sans-serif; color: gray"></h3>
    <div id="dlgokcancel_content" class="vertical_top">
    </div>
</div>
<div class="buttons save footer_btns right_aligned_btns">
    <button type="button" id="dlgokcancel_ok_btn"><img src="$eng_img/actions/accept.png" alt=""/>&nbsp;$_('OK')</button>&nbsp;
    <button type="button" id="dlgokcancel_cancel_btn"><img src="$eng_img/actions/cancel.png" alt=""/>&nbsp;$_('Отмена')</button>
</div>
