#encoding cp1251
<table id="tbl_systems_users">
  <thead>
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
        #set $N=1
        #for $item in $users
            <tr id="$item.ID">
                <td class="har">$N</td>
                <td>$item.NAME</td>
                <td class="har">$item.ID</td>
            </tr>
            #set $N=$N+1
        #end for
  </tbody>
  <tfoot>
	<tr><th colspan='4'>
			Фильтр по <select id='systems_users_filter' style='width: 100px;'>
						<optgroup label='Выберите тип фильтра'>
							<option value='right' selected>Пользователям, имеющим доступ к системе</option>
							<option value='xml'>Пользователям, имеющим xml-права к этой системе</option>
							<option value='none'>Отменить фильтр/Без фильтра</option>
						</optgroup>
					  </select>
		</th>
	</tr>
  </tfoot>
</table>
