td.red {
    background-color: #B22222;
}

td.yellow {
    background-color: #CC9900;
}

td.green {
    background-color: forestgreen;
}

td.blue {
    background-color: #611e8b;
}

td.gray {
    background-color: #8b7977;
}