#encoding cp1251
#extends systems.engine_main

#def engineData

  ##Styles    
    <link href="$sps_css.KURSSKLAD/k.progressbar.css" rel="stylesheet" type="text/css" media="screen"/>    
    <link href="$sp_css/labeledit.css" rel="stylesheet" type="text/css" media="screen"/>    
    
    <style>
        .ui-progressbar-indicator{
            line-height:40px;
            position:absolute;
            text-indent:-20px;
            left:50%;
            border: 1px solid black;
        }
        
        
    </style>    

  ##Scripts
    <script type="text/javascript" src="$eng_js/ui.datepicker.min.js"></script>
    <script type="text/javascript" src="$eng_js/i18n/ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.maskedinput-1.2.1.pack.js"></script>
    <script type="text/javascript" src="$eng_js/ui.dialog.min.js"></script>    
    <script type="text/javascript" src="$eng_js/jquery.contextMenu.min.js"></script>    
    <script type="text/javascript" src="$eng_js/jquery.rightClick.min.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rowFocus.min.js"></script>    
    <script type="text/javascript" src="$eng_js/jquery.tablesorter.min.js"></script>    
    <script type="text/javascript" src="$eng_js/kTblScroll.min.js"></script>
    <script type="text/javascript" src="$eng_js/kScrollableToDown.js"></script>
    <script type="text/javascript" src="$eng_js/ui.droppable.min.js"></script>  
    
    <script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.blockUI.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.id.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.form.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.blocks.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.formats.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.UpDown.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.messages.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.progressbar.js"></script>                    
    <script type="text/javascript" src="$sp_js/labeledit.js"></script>



  <div id="workplace">
  
  </div>
  <div id="etalon" style="width:100cm;height:100cm;display:none;">
  </div>
  <div id="items">
    <div id="menu-items">
        <a href="#" class="add" title="Добавить"><img src="$eng_img/actions/add.png"></a>
        <a href="#" class="edit" title="Изменить"><img src="$eng_img/actions/edit.png"></a>
        <a href="#" class="save" title="Сохранить"><img src="$eng_img/actions/save.png"></a>
        <a href="#" class="labels" title="Метки"><img src="$eng_img/actions/application.png"></a>
        <a href="#" class="params" title="Параметры"><img src="$eng_img/actions/application_go.png"></a>
        <a href="#" class="printer" title="Печать"><img src="$eng_img/actions/printer.png"></a>
    </div>
    <div id="report">
        <div class="row-container">
            Отчет
        </div>
        <div class="row-container">
            <div class="l">Наименование</div><div class="r"><input type="text" class="name"></div>
        </div>
        <div class="row-container">
            <div class="l">Название файла</div><div class="r"><input type="text" class="filename"></div>
        </div>
        <div class="row-container" id="procedures">
        </div>
    </div>
  </div>

#end def