#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
   
   <b> № $docnum от #filter DateFilter $docdate #end filter # </b>
   <br> № $TID
   <br>

    $_('Отсканируйте единицу транспортировки')
    <form action=taskTransUnit>
        <input type=hidden name=id value=$TID>
        <input type=text name=barcode id='barcode:scan'>
    </form>
#end def    