#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData    
    <b><u>$PNUM</u></b>($SNAME)<br>
    $TOOBJNAME<br>
    <b><u>($WCODE)</u></b>$WNAME<br>
    <b><u>$DOCNUM / #filter DateFilter2$DOCDATE#end filter#</u></b><br>
    <hr>
    <br>
    Заказ: <b>$QTASKSTR</b> <br>    
    На поддоне: $QPALLETSTR <br>
    <hr>
    
    <form action="taskWPalletWaresUnit">
        <input type="hidden" name="palletid" value="$PID">
        <input type="hidden" name="waresid" value="$WID">
        <input type="hidden" name="twid" value="$TWID">
        Чтобы отобрать <b><u>$QTASKSTR</u></b> отсканируйте<br>
        ШК этикетки: <input type="text" id=":scan:text" name="barcode" value="">
	</form>
    
    <a href="taskWPalletWaresUnitQ?twid=$TWID">Фактическое количество</a><br>
#end def
