#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
   
   <b> № $docnum от #filter DateFilter $docdate #end filter # </b>
   <br> № $TID
   <br>

    $_('Отсканируйте ШК местоположения')
    <form action=taskEndSite>
        <input type=hidden name=tid value=$TID>
        <input type=text name=barcode id='barcode:scan'>
    </form>
  
    #if $varExists('$datalist') and $datalist
        <hr>
        #for $item in $datalist
            <b>$item.sitename<b> <br>
            #if $item.INFOID
                $item.INFO <br>
            #end if
        #end for
    #end if
#end def    