#encoding cp1251
#extends systems.engine_main

#def $system_help = True
#end def

#def systemNavigation
	##<link href="$sps_css.KURSSKLAD/tabs/jquery.tabs.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" type="text/css" media="screen" href="$sps_css.KURSSKLAD/jquery.contextMenu.css"/>
	##<link href="$eng_css/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen"/>
	
	<script type="text/javascript" src="$eng_js/ui.datepicker.min.js"></script>
    <script type="text/javascript" src="$eng_js/i18n/ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.maskedinput-1.2.1.pack.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rowFocus.min.js"></script>
	<script type="text/javascript" src="$eng_js/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.tablesorter.min.js"></script>    
    <script type="text/javascript" src="$eng_js/kTblScroll.min.js"></script>
	##<script type="text/javascript" src="$eng_js/jquery.autocomplete.min.js"></script>
	
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.formats.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.messages.js"></script>
    ##<script type="text/javascript" src="$sps_js.KURSSKLAD/k.objectAutoComplete.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rightClick.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.form.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.blockUI.js"></script>
	<script type="text/javascript" src="$eng_js/ui.dialog.min.js"></script>    
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.id.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.icons.js"></script>
	##<script type="text/javascript" src="$sps_js.KURSSKLAD/k.simpleWaresMovings.js"></script>
	##<script type="text/javascript" src="$sps_js.KURSSKLAD/k.objectLocate.js"></script>
	##<script type="text/javascript" src="$sps_js.KURSSKLAD/taskView.js"></script>
	##<script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.tabs.js"></script>
	<script type="text/javascript" src="$sp_js/restnomove.js"></script>
	
	<form id="frmFindDate" class="buttons">
		Период <input id="dbeg" type="text" size="8">&nbsp;<input id="dend" type="text" size="8">
		Учет    <select id="selType">
					<option value="0">Не выбран</option>
					<option value="1" selected>Партионный</option>
					<option value="2">Документальный</option>
				</select>&nbsp;
		Зона 	<select id="selectZone"></select>
		<button type="submit"><img src="$eng_img/arrows/arrow_right.png"></button>
	</form>
#end def

#def engineData
    <div id="dvMain" style="width:100%;float:left;position:relative;"></div> 
#end def