#encoding cp1251

#extends systems.KURSSKLAD.KURSTERM.templates.main

#from systems.KURSSKLAD.cheetahutils import viewQuantity

#def mainData
            
    #if $varExists('$wuid') and $wuid and $wuid == $MWUID
        #set $selected = ' selected'
    #else
        #set $selected = ''
    #end if    

    <b><u>$FROMNAME</u></b><br>
    <b>#filter DateFilter$DOCDATE#end filter#</b> №<b>$DOCNUM</b><br>
    <b>(<u>$WCODE</u>)</b> $WNAME<br>
    #if $VWUID
        <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE </b><br>
    #end if    
    <b><u>$PNUM</u></b>($SNAME)<br><br>
    
    <form action=taskWaresLot>
        <input type=hidden name=tid value=$tid>
        <input type=hidden name=wid value=$wid>
        <input type=hidden name=wlotid value=$wlotid>
        <input type=hidden name=palletid value=$pid>
        $_('Производство'): <b>#filter DateFilter2$productdate#end filter#</b> <br>
        $viewQuantity($wlamount,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE)<b>(<u>#filter Quantity$wlamount#end filter#</u>)</b>
        <br><br>
        <select name=wuid>
            #if $WTYPE=='U' and $VWUID
                <option value=$VWUID>$VWUCODE</option>
            #end if
                <option$selected value=$MWUID>$MWUCODE</option>
        </select>:
            <input type=text name=amount id=":focus:float" value="#filter Quantity$amount#end filter#" size=6><br><br>
        $_('ШК Поддона'): <input type=text size=7 id="barcode:scan:text" name=barcode>
        <button type=submit>OK</button>
	</form>        
#end def
