#encoding cp1251
#extends reservemain

#def rFilter
    ##Scripts
	<link href="$sps_css.KURSSKLAD/wh.reserve.summary.css" rel="stylesheet" type="text/css" media="screen"/>    
    <script type="text/javascript" src="$sps_js.KURSSKLAD/wh.reserve.summary.js"></script>	
    <script type="text/javascript" src="$sp_js/summary.js"></script>	
#end def

#def rData
	<div id="dvScreen"></div>
#end def

