#encoding cp1251
#extends wtmain

#def wtData
    ##Scripts	
    <script type="text/javascript" src="$sp_js/worktask.js"></script>
    
	<div id="dvFilter" class="Filter"></div>

	<div id="dvScreen"></div>
#end def