table.upload_table {
    border: 1px solid #CDCDC9;
    width: 90% !important;
    margin-left: 10px;
}

table.upload_table thead th {
    color: #000000;
    border: 1px solid #CDCDC9;
    background: #ffffff !important;
}

table.upload_table th{
    border: 1px solid #CDCDC9;
}

table.upload_table thead tr th select {
    font-size: 11px !important;
    border: 1px solid #000000;
    width: 200px !important;
    margin: 0 10px 0 10px;
    text-transform: none !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table.upload_table thead tr th input[type=file] {
    border: 1px solid #808080;
    margin: 0 10px 0 10px;
}

#upload_btn {

    font-size: 11px !important;
    text-transform: none !important;
    border: 1px solid #000000;
    cursor: pointer;
}

#upload_btn:hover {

}

div.addSign {
    float: left;
}



select#ins_type_cmb {
    padding-left: 20px;
}

option.whtypes{
    font-size: 14px;
    font-weight: 700;

    padding-left: 20px !important;
}

td.deleterow {
    cursor: pointer;
}



div.buttons button:hover {
    background: lightblue;
}


img.wnView {
    cursor: pointer;
}


img.disabled {
    opacity: 0.7;
}

ul#menuUpdates {
    width: 200px !important;
}


.infofield {
    display: block;
    border: 1px solid #808080;
    padding: 7px;
    margin: 5px 3% 5px 3%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    border-radius: 10px;
}

div#updateinfo div.infoCont {
    border: 1px solid #808080;
    height: 98%;

    overflow: hidden;

}

div#updateinfo div.infoCont div.updatesInfo {
    border: 0px solid #808080;
    position: relative;
    height: 84%;
    background: #ffffff;
    overflow-Y: scroll;
    scroll: auto;
}

div#updateinfo div.infoCont table.infoHeader th {
    text-align: left !important;
}

div#updateinfo div.infoCont span.loader {
    color: green;
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    background: #F9E0E2;
    display: block;
    text-align: center;
}

td.name {
    text-align: left !important;
}

div.buttons {
    position: absolute;
    right: 40%;
    bottom: 5px;
    clear: both;
    margin-top: 10px;
    text-align: center;
}

div.buttonsright {
    position: absolute;
    right: 10px;
    bottom: 14px;
    clear: both;
    margin-top: 10px;

    text-align: center;
}


div.buttons button, div.buttonsright button {
    border: 1px solid #808080;
    font-size: 11px;
    background: #ffffff;

}

div.buttons button:hover,div.buttonsright button:hover {
    background: lightblue;
}

div.wndivfilter {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}

div#txtWNView {

    height: 87%;
    display: none;
}

div#txtWNView  textarea {

    width: 100%;
    height: 100%;
}

span.adminfilter {

    display: block;
    float: right;
    margin-right: 45%;
}

button.buttons {
    background: #ffffff;
    border: 1px solid #808080;


}

button.buttons:hover {
    background: lightblue;
}

table#viewWNTbl>tbody td.description {
    text-align: left;
}
