#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main
#from systems.KURSSKLAD.cheetahutils import TimeStampToDate

#def mainData

    $ZONENAME <b>є$TID</b>($ALGORITHM)
    <br>
    <b>$S_NAME</b>
    #if $S_MODELID		
        ##($S_PALCURCNT / $S_PALMAXCNT)
        <br>
        <b>($S_WCODE)</b> $S_WNAME
        <br>
        <b>$TimeStampToDate($S_WPRODUCTDATE)</b> - $TimeStampToDate($S_WBESTBEFOREDATE)
    #end if
	
	<br><br>
	<form action="taskAStackCnt">
		<input type="hidden" name="tid" value="$TID">
		<input type="hidden" name="sid" value="$S_ID">
		#if $varExists('$cnt1')
			$_('ѕересчитайте еще раз!')<br>
			<input type="hidden" name="cnt1" value="$cnt1">
			<input type="text" size="3" id=":focus:int" name="cnt2">
		#else
			$_('¬ведите количество паллет в штабеле'):<br>
			<input type="text" size="3" id=":focus:int" name="cnt1">		
		#end if
		
		<input type="submit" value="$_('Ok')">
	</form>	
#end def
