#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
    #if $varExists('$PNUM') and $PNUM
		<b><u>$PNUM</u></b>($SNAME)
	#else
		<b>$SNAME</b>
	#end if
    <br><br>

    $_('МП поддона'): <br><br>

    #if $varExists('$datalist')
        #for $item in $datalist
            #if $item.CANSELECT == '1'
                <a href="taskAPalletSiteSet?tid=$tid&pid=$PID&sid=$item.SID">$item.SNAME</a>
            #else
                <font class="inactive">$item.SNAME</font>
            #end if
            :
            #if $item.PALLETS
                $item.PALLETS
            #else
                ______
            #end if
            <br><br>
        #end for
    #end if

    #*
    #if $SITEPALLETID
        <hr><br>
            $_('Работать с'): <a href="wpPallet?id=$SITEPALLETID">$SITENAME</a>
    #end if
    *#
#end def
