#encoding cp1251
#extends systems.engine_main

#def $system_help = True
#end def

#def systemNavigation
	<link rel="stylesheet" type="text/css" media="screen" href="$sps_css.KURSSKLAD/k.progressbar.css" />
	
    <script type="text/javascript" src="$eng_js/ui.datepicker.min.js"></script>
    <script type="text/javascript" src="$eng_js/i18n/ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.maskedinput-1.2.1.pack.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rowFocus.min.js"></script>    
    <script type="text/javascript" src="$eng_js/jquery.tablesorter.min.js"></script>    
    <script type="text/javascript" src="$eng_js/kTblScroll.min.js"></script>
	
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.formats.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.messages.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.rightClick.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.form.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.blockUI.js"></script>
	<script type="text/javascript" src="$eng_js/ui.dialog.min.js"></script>    
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.id.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/k.icons.js"></script>
	<script type="text/javascript" src="$sps_js.KURSSKLAD/k.tdChk.js"></script>  
	<script type="text/javascript" src="$sps_js.KURSSKLAD/k.progressbar.js"></script>
	
    <script type="text/javascript" src="$sp_js/crshift.js"></script>

	<form class="buttons">
		Объект ##<select id="zone" multiple size="1"> </select>
			<button type="button" id="zone" obj=""><img src="$eng_img/actions/application_view_detail.png"></button>
		Дата: <input id="dbeg" type="text" size="8" /> <input type="text" id="tbeg" size="5" value="00:00">&nbsp;<input type="text" id="tend" size="5" value="23:59">
			  ##<input id="dend" type="text" size="8" /> 
		<button style="button" type="submit" id="go"><img src="$eng_img/arrows/arrow_right.png"></button>
	</form>
#end def
#def engineData
	<div id="dvMain" style="width:100%;float:left;position:relative;">
		<div id="dvEmployee" style="width:100%;height:50%;float:left;position:relative;"></div>
		<div id="dvTasks" style="width:100%;height:50%;float:left;position:relative;"></div>
	</div>

#end def