#encoding cp1251
#extends systems.engine_main
#def $system_help = False
#end def

#def systemNavigation
<ul>
	<li><a href="wares">По заказам</a></li>
	<li><a href="automatic">Автоматическое</a></li>
</ul>
    #block rfsFilter
    #end block rfsFilter
#end def

#def engineData

##Styles

##Scripts
    
 #block rfsData
    нет информации для отображения
 #end block rfsData

#end def
