/*-----------------------------------------
[Master Stylesheet]
Project:            FirePy Engine
Version:           0.9.1
Last change:    10:17 08.07.2009
Author:     Chernyavsky A.E. (che.alexey@gmail.com)
-----------------------------------------*/

body {
  font-family: verdana,arial,sans-serif;
  margin:0;
  padding:0;
  border:0;
  font-size:12px;
}
html, body
{ height: 100%;}

/*== Links ======================================================================================================================================*/
a:link, a:visited
{
text-decoration: none;
}
a:hover
{
text-decoration: underline;
}
/*== Containers ======================================================================================================================================*/
.container{
border-width: 1px;
border-style: solid;
margin-top: 10px;
margin-right: 5px;
margin-bottom: 10px;
margin-left: 5px;
padding:4px;
}
.container-bg{
background-repeat: repeat-x;
background-attachment: scroll;
background-position: 0pt 0pt;
}
/*rounded blocks fixes moved to ie6.css only */
div.container:before{
height:6px;
display:block;
margin:-1px 0 0 -1px;
text-align:left;
}
div.container:after{
height:6px;
display:block;
margin:0 0 -1px -1px;
text-align:left;
}

/* FF 3.0.3 flashing border bug fix */
@-moz-document url-prefix(){
div.container:before{display:none;}
div.container:after{display:none;}
div.container{
border-width: 1px;
border-style: solid;
-moz-border-radius:5px;
margin-top: 10px;
margin-right: 5px;
margin-bottom: 10px;
margin-left: 5px;}
}
#container-head{
 position: relative;
 margin-top:0px;
 background-repeat: repeat-x;
 background-attachment: scroll;
 background-position: 0pt 0pt;
 padding:0px;
}
#container-page
{ position: relative;
  min-height: 100%;
}
* html #container-page
{ height: 100%;}
#container-content-wrapper{
display: inline-block;
display: block;
padding-bottom: 26px;
}
#container-content{
overflow: hidden;
padding-top:15px;
padding-bottom:15px;
background-repeat: repeat-x;
background-attachment: scroll;
background-position: 0pt 0pt;
}
#sys-name{
margin-top: 0pt;
margin-right: auto;
margin-bottom: 0pt;
margin-left: auto;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: right top;
}
#parent-sys-name{
position:absolute;
top:4px;
}
#test-message{
  color: red;
  font: 12px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-align: center;
}
/*== System define menu ======================================================================================================================================*/
#sysmenu {
  margin: 0 auto;
}
#sysmenu ul {
  margin: 0;
  padding: 0;
}
#sysmenu ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
#sysmenu ul li a {
  font: 13px arial, sans-serif;
  letter-spacing: 0.1em;
}
#sysmenu ul li a:hover
 {
}

#addinfo
{
 position: absolute;
 float:left;
 padding-top:4px;
 padding-right:4px;
 padding-left:4px;
 z-index: 2;
}
/*== User data ======================================================================================================================================*/
#container-user-data{
clear: bottom;
position: relative;
margin-top: 0pt;
margin-right: auto;
margin-bottom: 0pt;
margin-left: auto;
text-align:right;
padding-right:4px;
padding-left:4px;
padding-top:4px;

}
#container-user-data ul li a
{
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 6px;
font-family: arial,sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 13px;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
letter-spacing: 0.1em;
line-height: 0.8em;
}
#container-user-data ul li a:hover
{
}
/* ==Page Footer=====================================================================================================================================*/
#container-footer
{
position: relative;
margin-top: -26px;
margin-bottom:0px;
clear:both;
/*background-image: url(/ENGINE/images/structure/rounded-bg.gif);
background-repeat: repeat-x;
background-attachment: scroll;
background-position: 0pt 0pt;
*/
}
#container-footer p
{ font-size: 10px; padding: 0px; margin: 0px; text-align:center;}

/*==AJAX loader=====================================================================================================================================*/
#container-busy
{ position: fixed !important;
  position: absolute;
  top: 21px;
  /*left: 9px; do not uncomment*/
  padding: 3px;
  width:24px;
  height:24px;
  display:none;
  z-index:99;
}
/*==Error notifier===================================================================================================================================*/
#container-error{
    padding-top:1em;
    padding-bottom:1em;
    margin-top:2em;
    border:1px solid;
}
/*==USER-BAR-ACCORDEON=========================================================================================================================*/
#container-user-bar-accordion{
    text-align:center;
    float:right;
    width:164px;
    display:none;
    margin-top:0px;
    }
ul.user-bar-accordion {
    border:1px solid;
    margin-left:7px;
    padding:0px;
    text-indent:0px;
    width:150px;
    font: 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
ul.user-bar-accordion a.head {
    cursor:pointer;
    border:1px solid;
    display:block;
    font-weight:bold;
    margin:0px;
    padding:0px;
    text-transform: uppercase;
    text-decoration: none;
}
ul.user-bar-accordion a.head:hover {
}
ul.user-bar-accordion a.selected {
}
ul.user-bar-accordion a.current {
}
ul.user-bar-accordion ul.accord {
    border-width:0px;
    margin:0px;
    padding:0px;
    text-indent:0px;
}
ul.user-bar-accordion li.accord {
    list-style:none outside none; display:inline;
}
ul.user-bar-accordion li.accord li a {
    display:block;
    text-indent:4px;
    text-decoration: none;
}
ul.user-bar-accordion li.accord li span{display:block;}
ul.user-bar-accordion li.accord li a:hover,
ul.user-bar-accordion li.accord li span:hover{
}
#systems-tree{
text-align:left;
font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
#systems-tree.treeview li {
    margin: 0;
    padding: 1px 0pt 1px 16px;
}
#systems-tree.treeview ul {
    margin-top: 1px;
}
/*#systems-tree li.systems-tree-parent, #systems-tree li a{
font-weight:bold;
color: blue;
}
ul.user-bar-accordion li.accord ul li.systems-tree-node a {
    color:red;
}
ul.user-bar-accordion li.accord li.systems-tree-parent a {
    color:blue;
}
*/

.navigation {
margin-top:8px;
text-align:center;
}
.navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active {text-decoration:none;border:1px solid;padding:2px 3px;font-size:10px;font-weight:bold;}
.navigation a:hover {}
.navigation span {text-decoration:none;padding:2px 2px;border:1px solid;font-size:10px;font-weight:bold}

.panel
{
        font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-top: 1px solid;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align:center;
        padding: 1px 1px 1px 1px;
        vertical-align:middle;
}
.box
{
border:1px solid;
}
/*==Pictures Gallery========================================================================================================================================*/
div.gallery {
  float: left;
  border: thin solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.gallery p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
/*==TABLES========================================================================================================================================*/
table
        {
        width: auto;
        padding: 0;
        border-left: 1px solid;
        border-collapse:collapse;
        }
th
        {
        font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-top: 1px solid;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align:center;
        padding: 1px 1px 1px 1px;
        vertical-align:middle;
        }
td
        {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid;
        border-bottom: 1px solid;
        padding: 1px 1px 1px 1px;
        text-align:center;
        vertical-align:middle;
        }
/* Alternate row style */
tr.alt
        {
       }
/* The current cell */
table tbody tr td.currentCell,
table tbody tr td:hover,
table tbody tr.alt td:hover
        {
        }
/* Normal row hover styles */
table tr.rowHover td,  /* Internet Explorer < 7 (and 7 in quirks mode) requires a specific class */
tr:hover td     /* All others can use the :hover pseudo */
        {
        }
/* Alternate row hover styles */
tr.alt:hover td
        {
        }
/* Column "cell" highlighting */
table tr td.rowHover
        {

        }
/* Header highlighting */
table tr th.rowHover
        {

        }
/* Warning styles */
th.warning
        {

        }
th.error
        {

        }
td.error
        {
    }

td.text, th.text
{ text-align: left;
  padding-left: 2px;
}

td.number, th.number
{ text-align: right;
  padding-right: 2px;
}
td.clear{background-color:#fff;}
tr:hover td.clear{background-color:#fff;}

.hal {text-align:left;}
.hac {text-align:center;}
.har {text-align:right;}
/*========USER-MENU==============================================================================================================================*/
ul.user-menu {
  padding:2px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  }
ul.user-menu img{
  border:0px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  }
ul.user-menu li{
  list-style:none;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  display:inline;
  }
/*==BUTTONS======================================================================================================================================*/
.buttons a, .buttons button{
    margin:0 0 0 0;
    border:1px solid;
    border-top:1px solid;
    border-left:1px solid;
    font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
    font-size:80%;
    line-height:100%;
    text-decoration:none;
    cursor:pointer;
    padding:1px 1px 1px 1px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
}
.buttons button[type]{
    padding:0px 3px 3px 3px; /* Firefox */
}
.buttons button img, .buttons a img{
    margin:0 0 -2px 0 !important;
    padding-right:3px;
    border:none;
    width:16px;
    height:16px;
}
button:hover, .buttons a:hover{
}
.buttons a:active{
    border:1px solid;
}

/*Blocks layout*/
div.horizontal{display:inline;}

/*Search bar=============================================================================*/
#search-wrap {
    float: left;
    width: 100%;
    margin-top:-16px;
    margin-left:-5px;
    margin-bottom:2px;

}
#search-content {
    /*height: 50px;*/
    width: 100%;
    display: none;
    margin:0px;
}
.search-header {
    margin: 0;
    padding: 0;
    margin-left:2px;
    background-repeat: no-repeat;
    background-position: top left;
    text-align:left;
}
.search-btn {
    height: 22px;
    padding-left: 0px;
    padding-top: 4px;
    margin: 0 auto;
        margin-top:-1px;
    display: block;
    font: normal 11px Verdana, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 14px;
    text-align:left;
}
/*Cursors*/
.cursor_default{cursor: default;}
.cursor_wait{cursor: wait;}

/* Generic context menu styles */
.contextMenu {
    position: absolute;
    width: 125px;
    z-index: 99999;
    padding: 0px;
    margin: 0px;
    display: none;
    text-align: left;
}
.contextMenu LI {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.contextMenu A {
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 32px;
}
.contextMenu LI.hover A {
}
.contextMenu LI.disabled A {
    cursor: default;
}
.contextMenu LI.hover.disabled A {
    background-color: transparent;
}
.contextMenu LI.separator {
}
.contextMenu LI.add A { background-image: url(/ENGINE/images/actions/add.png); }
.contextMenu LI.editBarCode A { background-image: url(/ENGINE/images/actions/barcode.png); }
.contextMenu LI.addchild A { background-image: url(/ENGINE/images/actions/addchild.png); }
.contextMenu LI.edit A { background-image: url(/ENGINE/images/actions/edit.png); }
.contextMenu LI.delete A { background-image: url(/ENGINE/images/actions/delete.png); }
.contextMenu LI.cut A { background-image: url(/ENGINE/images/actions/cut.png); }
.contextMenu LI.export A { background-image: url(/ENGINE/images/apps/excel.png); }
.contextMenu LI.copy A { background-image: url(/ENGINE/images/actions/copy.png); }
.contextMenu LI.paste A { background-image: url(/ENGINE/images/actions/paste.png); }
.contextMenu LI.quit A { background-image: url(/ENGINE/images/actions/door.png); }
.contextMenu LI.print A { background-image: url(/ENGINE/images/actions/printer.png); }
.contextMenu LI.recalc A { background-image: url(/ENGINE/images/actions/recalc.png); }
.contextMenu LI.refresh A { background-image: url(/ENGINE/images/actions/refresh.png); }
.contextMenu LI.information A { background-image: url(/ENGINE/images/actions/information.png); }
.contextMenu LI.sum A { background-image: url(/ENGINE/images/actions/sum.png); }
.contextMenu LI.clear A { background-image: url(/ENGINE/images/actions/application.png); }
.contextMenu LI.selectAll A { background-image: url(/ENGINE/images/actions/application_view_detail.png); }
.contextMenu LI.statusUp A { background-image: url(/ENGINE/images/actions/statusUp.png); }
.contextMenu LI.statusDown A { background-image: url(/ENGINE/images/actions/statusDown.png); }
.contextMenu LI.locate A { background-image: url(/ENGINE/images/actions/magnifier.png); }
.contextMenu LI.docclone A { background-image: url(/ENGINE/images/actions/page_white_copy.png); }
.contextMenu LI.applicationGo  A{ background-image: url(/ENGINE/images/actions/application_go.png); }
.contextMenu LI.return  A{ background-image: url(/ENGINE/images/actions/reset.gif); }

/* Alignments */

.full_height {
height: 100%;
}
.vertical_top {
vertical-align: top;
}
.footer_btns {
position: relative;
margin-top: -26px;
clear: both;
}
.left_aligned_btns {
float: left;
margin-left: 3px;
}
.right_aligned_btns {
float: right;
margin-right: 3px;
}

/* Validations */

/*invalid label for form fields*/
.invalid {
margin-left: 0px;
padding: 0px;
background-color: #EDF8FF;
color: red;
text-align: left;
}

#sysLst-container {
    width: 500px !important;
    margin: auto;
    border: 0px solid #808080;
}

#sysLst-container ul {
    display: inline;
    margin-left: auto;
}

#sysLst-container ul li{
    display: block !important;
    margin: 10px;
    float: left;
    border: 1px solid #808080;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
    width: 130px;
    height: 110px;
    background: #F7F6E0;
}

#sysLst-container ul li img {
    display: block;
    border: 0px solid #808080;
    padding: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#sysLst-container ul li span {
    display: inline;
    clear: left;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

#sysLst-container ul li:hover {
    background: #F9F4B5;
}

#sysLst-container ul li a:hover {
    text-decoration: none;
}

#sysmenu ul li a.active-tab {

    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
