#encoding cp1251
#extends rcmain
#def $system_help = False
#end def
#def rcData
    
    ##Scripts
    <script type="text/javascript" src="$sp_js/compareDocWLot.js"></script>
    <script type="text/javascript" src="$sps_js.KURSSKLAD/jquery.tabs.js"></script>
    <script type="text/javascript" src="$eng_js/jquery.maskedinput-1.2.1.pack.js"></script>
    <script type="text/javascript" src="$eng_js/ui.datepicker.min.js"></script>
    <script type="text/javascript" src="$eng_js/i18n/ui.datepicker-ru.js"></script>
    
    ##Styles
    <link href="$sps_css.KURSSKLAD/tabs/jquery.tabs.css" rel="stylesheet" type="text/css" media="screen"/>  
#end def
