#encoding cp1251
#extends main
#def $system_help = True
#end def
#def whScripts
    
    ##Scripts
    <script type="text/javascript" src="$sp_js/badwares_dr.js"></script>
    <script type="text/javascript" src="$sp_js/siteverify.js"></script>
    <script type="text/javascript" src="$sp_js/jquery.treeTable.js"></script>
    <script type="text/javascript" src="$sps_img.KURSSKLAD/k.helpers.js"></script>
    <script type="text/javascript" src="$sp_js/zones.js"></script>
    <script type="text/javascript" src="$sp_js/sale_vt.js"></script>
    
    <link href="$sp_css/jquery.treeTable.css" rel="stylesheet" type="text/css">
#end def