#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
    <form action='main'>
        $_('ÿ '): <input type='text' name='barcode' id=':scan' title="$_('¿‚ÚÓ')">
    </form>
#end def


