#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#from systems.KURSSKLAD.cheetahutils import viewQuantity
#def mainData
    #block palBefore
    #end block palBefore

    #if $varExists('$PAL_NUM') and $PAL_NUM
        <b><u>$PAL_NUM</u></b>($PAL_SNAME)
    #else
        <b>$PAL_SNAME</b>
    #end if
    <hr>
        #if $varExists('$PALSELECT_CLIENTNAME') and $PALSELECT_CLIENTNAME
            <b><u>$PALSELECT_CLIENTNAME</u></b><br>
        #end if
        #if $varExists('$PALSELECT_DOCID') and $PALSELECT_DOCID
            #filter DateFilter2$PALSELECT_DOCDATE#end filter# $_('№') $PALSELECT_DOCNUM <br>
        #end if
        #if $varExists('$PALSELECT_TASKID') and $PALSELECT_TASKID
             $PALSELECT_TASKID
            #if $varExists('$PALSELECT_MANFIO') and $PALSELECT_MANFIO
                - <b>$PALSELECT_MANFIO</b>
            #end if
        #end if
    <hr>

    #if $varExists('$datalist')
        <table>
            <thead>
                <tr>
                    <th>$_('Товар')</th>
                    <th>$_('План')</th>
                    <th>$_('Факт')</th>
                <tr>
            </thead>
            <tbody>
            #for $item in $datalist
                <tr>
                    <td><a href="palWares?id=$PAL_ID&wid=$item.WID" title="$item.WNAME.replace('"',"'")">$item.WCODE</a></td>
                    <td>$viewQuantity($item.QPLAN,$item.VUFACTOR,$item.VUCODE,$item.MUFACTOR,$item.MUCODE)
                        (<b><u>#filter Quantity$item.QPLAN#end filter#</u></b>)
                    </td>
                    <td>$viewQuantity($item.QFACT,$item.VUFACTOR,$item.VUCODE,$item.MUFACTOR,$item.MUCODE)
                        (<b><u>#filter Quantity$item.QFACT#end filter#</u></b>)
                    </td>
                </tr>
            #end for
            </tbody>
        </table>
    #end if

    #block palFooter
    #end block palFooter
#end def
