#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#from systems.KURSSKLAD.cheetahutils import viewQuantity
#def mainData
    <form action="palScan">
        <input type="hidden" name="id" value="$PAL_ID">
        <input type="hidden" name="wid" value="$WID">
        $_('ШК'): <input type="text" id=":scan:text" name="barcode" title="$_('МП'), $_('Поддон'), $_('Товар')"><br>
	</form><br>
    
	#if $varExists('$PAL_NUM') and $PAL_NUM
		<b><u>$PAL_NUM</u></b>($PAL_SNAME)
	#else
	    <b>$PAL_SNAME</b>
	#end if

    <br><b><u>($WCODE)</u></b>$WNAME<br>
    #if $VWUID
        <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE </b><br>
    #end if
    #if $varExists('$PALSELECT_TASKID') and $PALSELECT_TASKID
	<hr>
	    #if $varExists('$PALSELECT_CLIENTNAME') and $PALSELECT_CLIENTNAME
	        <b><u>$PALSELECT_CLIENTNAME</u></b><br>
	    #end if
	    #if $varExists('$PALSELECT_DOCID') and $PALSELECT_DOCID
	        #filter DateFilter2$PALSELECT_DOCDATE#end filter# $_('№') $PALSELECT_DOCNUM <br>
	    #end if
	    #if $varExists('$PALSELECT_TASKID') and $PALSELECT_TASKID
	         $PALSELECT_TASKID
	        #if $varExists('$PALSELECT_MANFIO') and $PALSELECT_MANFIO
	            - <b>$PALSELECT_MANFIO</b>
	        #end if
	    #end if
    <hr>
    #else
    <br>
    #end if

    #if $varExists('$datalist') and $datalist and len($datalist)>0
        #set $wuamount = 0
        #set $amount = 0
    <form action=palletWaresSave method=post>
        <input type=hidden name=waresid value=$wid>
        <input type=hidden name=palletid value=$pal_id>
        <input type=hidden name=dbeg value="$CURRENTDATETIME">
        #if $varExists('$backurl') and $backurl
            <input type=hidden name=backurl value="$backurl">
        #end if
        <table>
            <thead>
                <tr>
                    <th>$_('Дата')</th>
                    <th>
                        <select name=wuid id=":focus:">
                            <option value=$MWUID selected>$MWUCODE</option>
                          #if $VWUID:
                            <option value=$VWUID>$VWUCODE</option>
                          #end if
                        </select>
                    </th>
                    <th>$_('Кол-во')</th>
                    <th>$_('Резерв')</th>
                <tr>
            </thead>
            <tbody>
            #for $item in $datalist
                #if $item.canedit == '0'
                    #set $trClass = 'class="inactive"'
                #else
                    #set $trClass = ''
                #end if
                <tr $trClass>
                    <td>#filter DateFilter2$item.productdate#end filter#</td>
                  #if $item.canedit == '1'
                    <td><input type="text" name="WL_$item.WLOTID" id="::float" title="$item.WLNUMBER" value="#filter Quantity$item.AMOUNT#end filter#" size="4"></td>
                  #else
                    <td><a href='#' title="$item.WLNUMBER">#filter Quantity$item.AMOUNT#end filter#</a></td>
                  #end if
                    ##<td>$viewQuantity($item.AMOUNT,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE)(<b><u>#filter Quantity$item.AMOUNT#end filter#</u></b>)</td>
                    <td>#filter Quantity$item.AMOUNT#end filter#</td>
                    <td>#filter Quantity$item.RESERVE#end filter#</td>
                </tr>
                #set $amount += float($item.AMOUNT)   
            #end for
            </tbody>
            <tfoot>
                <tr>
                    <th>$_('Итого'):</th>
                    <th colspan=2>$viewQuantity($amount,$VWUFACTOR,$VWUCODE,$MWUFACTOR,$MWUCODE)(<b><u>#filter Quantity$amount#end filter#</u></b>)</th>
					<th></th>
                </tr>
            </tfoot>
        </table>
        <input type="submit" value="$_('Сохранить')">
    </form>
    #end if
    <br>
    <a href="palWaresAdd?id=$PAL_ID&wid=$WID&dbeg=$CURRENTDATETIME">$_('Новая партия')</a>
#end def
