#encoding cp1251
#extends systems.ENGINE.ACCOUNT.templates.account_main
#def accountData
    <h1>Изменение пароля</h1>
    <div class="register-block">
        <table style="text-align: center;">
            <tbody>
                <tr><td>Ваш пароль был изменен.</td></tr>
                <tr><td>Для продолжения нажмите <a href="/index">здесь</a>.</td></tr>
            </tbody>         
        </table>
    </div>     
#end def   