#encoding cp1251
<div class="DivPrice">
    <table class="Price tbl_bp">
        <tr class="BigPriceCaption center">
            <td id="nojsalign" class = "BigNum">$item.NUMPOSITION</td>
        </tr>
        <tr class="BigWaresName">
            <td id="nojsalign" class="aCenter bp_wares_name">$item.NAME</td>
        </tr>
        <tr class="BigPriceFooter">
            <td id="nojsalign" class="bp_wares_code">$_("Code") - $item.CODE</td>
        </tr>
    </table>
</div>
