#logo{
    background-image: url("../images/logo_small.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 76px;
    position: relative;
    width: 100%;
	margin-bottom:20px;
	}
	
body{
	clear: both !important;
	clear: left !important;
	clear: right !important; 
	background-color:white !important;
	background-image:url(../images/back.png) !important; 
    background-position: -100px top !important;
	background-repeat:repeat-y !important;  
	font-family:   Helvetica,verdana, Arial, sans-serif;
	font-size:12px; 
	color: #454545;
	}
	
.register-block{
	position:relative;
	width:850px;
	left:50%;
	margin-left:-425px;
	}

h1{
	font-size:14px;
	color:#6a7073;
	text-align:center;
	}
	
 table{
	background-color:transparent;
	background-image:url(../images/regform_bg2.png);
	background-repeat:repeat;
	border: 1px solid #E1E1E1;
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	}
	 
input{
    -moz-border-radius:2px;
	border-radius:2px;
    border-color: #C8C8C8 #939393 #C8C8C8 #C8C8C8;
    border-style: solid;
    border-width: 2px 1px 1px;
	width:300px;
	}
	
textarea{
	-moz-border-radius:2px;
	border-radius:2px;
    border-color: #C8C8C8 #939393 #C8C8C8 #C8C8C8;
    border-style: solid;
    border-width: 2px 1px 1px;	
	}
	
    #submitbutton, .button{
	margin-top:30px;
    background-image: url("../images/enterbutt.png") !important;
    border: 1px solid #999 !important;
	height: 30px;
    padding-top: 0 !important;
	font-family: sans-serif, Lucida Grande,Tahoma,Arial,Verdana !important;
    font-size: 14px !important;
    font-weight: normal !important;
	color: #606370 !important;
	cursor:pointer;
    margin: 20px auto;
    display: block;    
	}
.button{
	width:300px;
    }

#submitbutton:hover, .button:hover{
	background-image: url("../images/enterbutthover.png") !important;
	color:black !important;
	}
	
/* Страница восстановления пароля */	
.reminderform{
	position:relative;
	width:500px;
	left:50%;
	margin-left:-250px;
	}	

.nohaveacc{
	margin-top:30px;
	text-align:center;
	}

.helpmsg{
	position:relative;
	width:500px;
	left:50%;
	margin-left:-250px;
	}

/* =========================== */

/* Расположение контейнеров и индикаторов */

#pc-container{
    height: 30px;
	}

#pc-indicator{
    padding: 1px;
    margin: 5px 0px 0px 0px;
    border: solid 1px #bbb;
    font-size:0px;
    position: relative;
    height: 5px;
    display: block;
	}

#pc-indicator-inline{
    float: left;
    padding: 2px;
    /*background-color: #c00;*/
    /*width:25%;*/
    overflow: hidden;
    height: 1px;
	}

#pc-indicator-text{
    font-family: arial,sans-serif;
    font-size: smaller;
	}

#repeat-text{
    font-family: arial,sans-serif;
    font-size: smaller;
	}

/* Состояния текстового индикатора */

.pc-critical{
    color: #f00;
	}

.pc-yellow{
    color: #888000;
	}

.pc-green{
    color: #0b0;
	}
table {
	<!--border: 2px solid #797982;-->
	}

table td:first-child {
/*    font-weight: bold;*/
    vertical-align: top;
}

table td {
    padding: 8px; 
	}

div.errormsg {
    color: red;
    font-family: arial,sans-serif;
    font-size: smaller;
	}

/* Форма смены пароля через почту */

html body div.register-block form{
    left: 50%;
    margin-left: -265px;	
    position: relative;
    width: 530px;
	}
	
html body div.register-block form table tbody tr{
	width:400px;
	}
	
html body div.register-block form table{
    padding-right: 20px;
	}

/*====================*/

/* Состояния визуального индикатора */

.pc-i-critical{
    background-color: #c00;
	}

.pc-i-yellow{
    background-color:  #aaa444; /*#ccc444;*/
	}

.pc-i-green{
    background-color: #82CE76; /*#0f0;*/
	}

/* Вердикты */

.verdict {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: 5px;
	}

.verdict_yes {
    background:transparent url(/ENGINE/images/actions/accept.png) no-repeat scroll center center;
	}

.verdict_no {
    background:transparent url(/ENGINE/images/actions/exclamation.png) no-repeat scroll center center;
	}
