#encoding cp1251

#def gen_browser($p, $compact)
    #set $onclick = 'return !window.open(this.href)'
    #set $img = $p.shortname 
    #if $compact
        #set $img = $img + '_small'
    #end if
    #set $img = $img + '.jpg'
    #set $recommend= ''
    #if $p.basic
        #set $recommend='<div><span>(рекомендуемый)</span></div>'
    #end if
    <td> 
        <a href="$p.href" onclick="$onclick"><img src="$eng_img/change_browser/$img" alt="$p.showname" /></a><br/>
        <a class="brows_name" href="$p.href" onclick="$onclick">$p.showname</a>
        $recommend
    </td>
#end def

#def gen_browser_lst($compact)
    #from conf.engine_conf import UA_ALLOWED
    #for $b in $UA_ALLOWED 
      #if $b.recommend  
        $gen_browser($b, $compact)
      #end if  
    #end for    
#end def
    
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>—мените или обновите браузер</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
 	<link rel="stylesheet" href="/ENGINE/LOGIN/change_browser.css" />
</head>
<body>
<div>
	<div class="logo-header"></div>
	<div class="main" >
		<div class="qtcontent">
			<h1>¬нимание! ¬аш браузер не подходит или устарел</h1>
			<p>ƒанный сайт построен на передовых, современных технологи€х и не поддерживает браузер <span>$browser</span> версии <span>$version</span>.</p>
			<p>Ќасто€тельно рекомендуем ¬ам выбрать и установить любой из перечисленных ниже браузеров. Ёто бесплатно и займет всего несколько минут.</p>
			<table class="brows" cellspacing="0">
				<tr>
                     $gen_browser_lst(False)
				</tr>
			</table>
            
            #if $ua_other_access
             <p>
                ¬ы можете <a href="$baseurl/?force_browser=1"><span>войти, использу€ текущий браузер</span></a>. Ќо в этом случае стабильна€ и комфортна€ работа <span>не гарантируетс€</span>.
             </p>
            #end if
            
		</div>
	</div>
</div>
</body>
</html>