#encoding cp1251
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" media="screen" href="$eng_css/login/core.css">
<link rel="stylesheet" type="text/css" media="screen" href="$eng_css/login/loginTemplate.css">
<link rel="stylesheet" type="text/css" media="screen" href="$eng_css/login/buttons.css"/>
<script type="text/javascript" src="$eng_js/jquery-1.3.2.min.js"></script>
</head>
<body>
<div id="header">
    <img src="$eng_img/login/logo.png"/>
</div>
 #block loginData
    нет информации для отображения
 #end block loginData
</body>
</html>
