#encoding cp1251
#extends wtrmain

#def wtrData
    ##Scripts
    <script type="text/javascript" src="$sps_js.KURSSKLAD/taskView.js"></script>
    <script type="text/javascript" src="$sp_js/worktaskrate.js"></script>

	<div id="dvFilter" class="Filter"></div>

	<div id="dvScreen"></div>
#end def