#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
	<b>$labeltypes[$labeltype]</b>
	<hr>
	<form action="printer">
        $_('Введите количество этикеток и отсканируйте принтер'): <br><br>
        
		<input type="hidden" name="labeltype" value="$labeltype">
        $_('Кол-во'): <input type="text" id=":focus:" name="pcnt" value="" size="3"><br>
		
        $_('ШК принтера'): <input type="text" id=":scan:text" name="barcode" size="7"><br>
		<button type="submit">$_('Печать')</button>
	</form>		
#end def
