#encoding cp1251
#extends systems.engine_main
#def engineData
    <script type="text/javascript">
        #set global $is_linux = $is_linux;
    </script>
    #include '../systems/ENGINE/HEALTH/templates/health_simple.tmpl'
#end def