#encoding cp1251
<meta name="viewport" content="width=350" />
<script type="text/javascript" src="$eng_js/jquery-1.3.2.min.js"></script>
<link rel="stylesheet" href="$sp_css/health_mobile.css" type="text/css"/>

##<script type="text/javascript">can_delete_aorderstat = $can_delete_aorderstat</script>
<script type="text/javascript" src="$eng_js/jQueryRotate.min.2.1.js"></script>
<script type="text/javascript" src="$sp_js/health_mobile.js"></script>
<script type="text/javascript">
    islinux = $is_linux;
</script>
<div class="HealthDataTable">
    <div id="health-detail"></div>
</div>