#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main
#def mainData
    <b><u>($WCODE)</u></b>$WNAME<br>
    #if $VWUID
        <b>$VWUCODE = #filter Quantity$VWUFACTOR#end filter# $MWUCODE</b>
    #end if
    #if $WSITEID
        <font color="gray"><b>$WSITENAME</b></font>
    #end if
    
    #if $varExists('$datalist') and $datalist
      <table>
        <thead>
          <tr>
            <th>$_('Код')</th>
            <th>$_('Наименование')</th>
          </tr>
        <tbody>
        #for $item in $datalist
          <tr>
            <td>$item.SHORTNAME</td>
            <td><a href="wuWaresUnit?wid=$WID&uid=$item.UNITID">$item.FULLNAME</a></td>
          </tr>
        #end for
        </tbody>
      </table>
    #end if
#end def
