#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
	<form action="bpMain">
        $_('ШК'): <input type="text" id=":scan:text" name="barcode" title="$_('Поддон')"><br>
	</form>    
#end def
