#encoding cp1251

#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
   
    <b><u>$FROMNAME</u></b><br>
    <b>#filter DateFilter$DOCDATE#end filter#</b> №<b>$DOCNUM</b>
    <form action="taskWaresScan">
        <input type="hidden" name="tid" value="$TID">
        $_('ШК'): <input type='text' name='barcode' id='barcode:scan' title="$_('Товар')">
    </form>   
#end def    

