#encoding cp1251
#extends systems.KURSSKLAD.KURSTERM.templates.main

#def mainData
    <form action='main'>
        $_('ШК'): <input type='text' name='barcode' id=':scan' title="$_('Товар'), $_('МО')">
    </form>
#end def


